/* Navbar.module.css */
.navbar {
  display: flex;
  align-items: center;
  background-color: #212121; /* neutralDark */
  color: #ffffff; /* blanco */
  padding: 0 20px;
}
  

.logo {
  height: 60px;
}

.navItems {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navItem {
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff; /* blanco */
  transition: background-color 0.3s;
}

.navItem:hover {
  background-color: #3c3c3c; /* neutralPrimaryAlt */
}

  @media screen and (max-width: 600px) {
    .navItem {
      display: none;
    }
  }
  